* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: px solid red;
    user-select: none;
}


 /*Noche-dia*/
 [data-theme="light"] {
    --primary: #2016b1;
    --background: #2016b1;
    --color--color--uno: #2016b1;
    /*boton*/
    --lines: #fff;
    --linea-sonbra: #0000005b;
    /*texto*/
    --text: #000000;
    --textuno: rgb(255, 255, 255)0;
    /*sombras*/
    --color: #ffffff;
    --sombrauno: #d9d9d9;
    --sombrados: #ffffff;
    /*formulario*/
    --formulario: rgb(255, 255, 255);
    /*formulario sombra*/
    --formulario-sobra: rgb(219, 219, 219);
    /*llenar*/
    --fondo-llenar: #ffffff;
    --linea-llenar: #6666666b;
    /*wspp*/
    --wspp-tex: #fff;
    /*cel portada*/
    --portada: url('../img/a.png');
    /*cel boton*/
    --boton: url('../img/sol.png');
}

[data-theme="dark"] {
    --primary: #690981;
    --background: rgb(0, 0, 0);
    --color--color--uno: #690981;
    /*boton*/
    --lines: #000000;
    --linea-sonbra: #c9c9c96c;
    /*texto*/
    --text: #fff;
    --textuno: rgb(255, 255, 255)0;
    /*sombras*/
    --color: #dfdfdf;
    --sombrauno: rgb(54, 54, 54);
    --sombrados: rgb(54, 54, 54);
    /*formulario*/
    --formulario: rgb(10, 10, 10);
    /*formulario sombra*/
    --formulario-sobra: rgb(0, 0, 0);
    /*llenar*/
    --fondo-llenar: #000000;
    --linea-llenar: #ffffff4b;
    /*wspp*/
    --wspp-tex: #fff;
    /*cel portada*/
    --portada: url('../img/v.png');
    /*cel boton*/
    --boton: url('../img/luna.png');
}



:root {
    --main-color: #000000;
    --main-modal-color: rgba(2, 1, 1, 0.555);
    --second-color: #b7b7b7;
    --second-modal-color: rgb(0, 0, 0);
}

body {
    font-family: 'open sans';
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}














    /* Estilos del switch */

    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #00000060;

        box-shadow: 4px 4px 15px 3px var(--linea-sonbra);
        border-radius: 69px;
        margin-top: 30px;
        transition: 1s;
        display: flex;
        justify-content: center;
        align-items: center;

        background-image: var(--boton);
        background-size: contain;
        object-position: 50% 10%;
        background-repeat: no-repeat;
        background-position: center;
        border: none;

    }

    .switch:hover {
        width: 43px;
        height: 43px;
        transition: 1s;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    @media (max-width: 600px) {
        .switch {
            margin-top: 9px;
        }
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .4s;
        border-radius: 34px;

        border: none;

    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--primary);
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked+.slider {
        background-color: var(--background);
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .noche {
        width: 90%;
        height: 95px;
        display: flex;
        justify-content: flex-end;
        position: fixed;
        text-align: center;
        word-wrap: break-word;
        margin-bottom: 100px;
        align-content: center;
        align-items: center;
        flex-direction: row;
        z-index: 1000;
    }

    .ico-noche {
        width: 30px;
        transition: 1s;
    }

    .ico-noche:hover {
        width: 40px;
        transition: 1s;
    }

    .ico-com {
        margin-top: 21px;
        margin-left: 10px;
        padding: 11px 12px;
        border-radius: 50px;

        color: #fff;
        background-color: var(--color--color--uno);
        transition: .5s;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 4px 4px 15px 3px var(--linea-sonbra);
    }

    .ico-com:hover {
        padding: 14px 15px;
        transition: 1s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 600px) {
        .ico-com {
            margin-top: 2px;
        }
    }

    .git {
        width: 60px;
        height: 25px;
        color: rgb(255, 255, 255);
        background-color: var(--color--color--uno);
        padding: 1px 10px;
        border-radius: 10px;
        transition: .5s;
        margin: 0;
    }











.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.titulo {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 630px;
    background: #4e50bc8c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(244, 95%, 50%, 0.295), hsl(0, 97%, 47%)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(241, 95%, 50%, 0.459), hsla(252, 9%, 11%, 0.766)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.container-botones-2 {
    width: 100%;
    height: 258px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.blu {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--fondo-llenar);
    margin-left: 10px;

}


header .textos-header {
    display: flex;
    height: 530px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.perfil {
    width: 130px;
    border-radius: 100px;
    border: 3px solid #fff;
    box-shadow: 8px 8px 10px 4px rgb(0 0 0 / 41%);
}

.icono-info {
    width: auto;
    margin-top: 20px;
    margin-bottom: -1px;
    display: flex;
}

.icon-info {
    width: auto;
    display: flex;
    margin: 3px;
}

.caja {
    margin: 15px;
}

.ico-3 {
    color: #fff;
    font-size: 20px;
}

@media (max-width: 600px) {
    .ico-3 {
        color: #fff;
        font-size: 19px;
    }

    .caja {
        margin: 10px;
    }
}



h1 {
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #000;
}

/* About us */

main .sobre-nosotros {
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
    color: #fff;
}

.contenido-textos h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    color: #fff;
}



@media screen and (max-width:900px) {
    header {
        background-position: center;
    }


    .imagen-about-us {
        width: 90%;
    }




}

@media screen and (max-width:500px) {
    nav {
        text-align: center;
        padding: 15px;
    }

    nav>a {
        margin-right: 5px;
    }

    .textos-header h2 {
        font-size: 20px;
    }
}

/*modal pop*/
.texto {
    margin: 30px auto;
    width: 80%;
}

.btn-abrir-2 {
    background: #00000000;
    color: rgba(218, 0, 0, 0);
    padding: 1px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.btn-abrir {
    background: #00000000;
    color: rgba(218, 0, 0, 0);
    padding: 1px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.container-ico {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.ico {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-color);

}

.ico-2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.titulo {
    color: var(--letra-color);
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-info {
    width: 410px;
    height: 510px;
    background: url("./img/fondo\ 1.png") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    position: absolute;
    color: #fff;
}

.l {
    width: 200px;
    height: 200px;
    background-color: red;
}

/* -----------------VENTANA MODAL------------ */
.pop-up {
    background: rgba(73, 73, 73, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.pop-up-wrap {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 950px;
    transform: scale(0.6);
    opacity: 0;
    transition: .3s ease all;
}

.subcription::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}


.pop-up-title h2 {
    font-family: 'Chiller';
    font-size: 80px;
}

.pop-up-title p {
    font-size: 20px;
    font-weight: 300;
}
.qr-wspp{
    width: 200px;
}
.subcription {
    background: var(--main-color);
    flex-basis: 0;
    flex-grow: 2;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.sub-content {
    width: 78%;
}

.sub-content h2 {
    font-weight: 500;
    font-size: 40px;
    color: var(--second-color);
    margin-bottom: 15px;
}

.sub-content p {
    font-weight: 500;
    color: #000000;
    margin-bottom: 30px;
}

.subs-email {
    width: 90%;
    padding: 10px;
 color: #fff;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 15px;
}

.subs-send {
    width: 80%;
    padding: 10px;
    border: none;
    background: var(--second-color);
    color: var(--main-color);
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .25s ease background;
    border-radius: 20px;
}

.subs-send:hover {
    background: #000000;
}

.line {
    width: 100%;
    height: 20px;
    background: #000000;
    border-radius: 10px;
}

#close {
    position: absolute;
    top: 40px;
    right: 25px;
    font-size: 25px;
color: var(--second-color);    cursor: pointer;
}

.pop-up.show {
    visibility: visible;
}

.pop-up-wrap.show {
    transform: scale(1);
    opacity: 1;
}

@media only screen and (max-width: 980px) {
    .pop-up-title {
        display: none;
    }

}

@media only screen and (max-width: 320px) {
    .sub-content h2 {
        font-size: 30px;
    }

    .subcription {
        max-height: 400px;
    }
}

.menu-bajo {
    width: 100%;
    height: 60px;
    color: #363636;
    background: linear-gradient(#000000c4,#323232a8);
    backdrop-filter: blur(5px);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 1;
    box-shadow: 1px -1px 13px 0px #3e3e3e63;
}

.container-bajo {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.container-bajo-1 {
    display: flex;
    justify-content: center;
}

.contenido {
    width: 100%;
    height: 200PX;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    background: var(--background);
    margin-bottom: 100px;
}

@media (max-width: 600px) {
    .contenido {
        height: 100px;
    }
}

.contenido-boton {
    width: 100px;
    margin: 5px 0 0 0;
    color: #fff;
    border: none;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
}

.contenido-anun {
    width: 376px;
    height: 280px;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    background-color: var(--second-color);
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

}

.info {
    color: #000;
    margin: 5px;
    text-align: center;
}

.img-anun {
    width: 200px;
}

.btn-link {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.685);
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    text-decoration: none;

    animation: parpadeo 4s linear infinite;
    transition: .2s ease;
}



@keyframes parpadeo  {
    0%, 41%, 45%, 47%, 49.5%, 100%  { 
        opacity: 1;
    }

    42%, 44%, 46%,48%,  50%  { 
        opacity: 0; 
    }
}


.boton {
    color: var(--fondo-llenar);
    font-size: 10px;
}


.bt-2 {     
    width: 190px;
    height: 30px;
    margin-top: 20px;
    font-size: 20px;

    background-color: var(--text);
    border-radius: 10px;
    text-decoration: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*-------------------------*/

.body{
	width: 100%;
	height: 0px;
	background-color: #2d0dbd;
	display: flex;
	justify-content: flex-end;
}
.mover{
	width: 50px;
	height:97vh;
	display: flex;
	justify-content: flex-end;
	background-color: rgba(0, 128, 0, 0);
	align-items: center;
	position: fixed;
	z-index: 1000;
}
.capa {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(224, 6, 6, 0);
	z-index: -1;
	top: 0;
	left: 0;
}

/*Estilos para el encabezado*/
.header {
	width: 20px;
	height: 100px;
	border-radius: 5px;
	background-color: #343434;
	position: fixed;
	display: flex;
	justify-content: flex-end;
}

.container {
	width: auto;
	height: auto;
	max-width: 1200px;
	margin: auto;
}


.container .btn-menu label {
	width: 50px;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
}
.boton-d-l{
	width: 30px;
	height: 120px;
	background-color: #4c09ea00;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
}
.click{
	width: 5px;
	height: 100px;
	border-radius: 20px 0px 0px 20px ;
	background-color: rgb(52, 52, 52);
	box-shadow: -4px 1px 11px 4px #000;
	transition: 1s;
}

.logo h1 {
	color: #fff;
	font-weight: 400;
	font-size: 22px;
	margin-left: 10px;
}

.container .menu {
	float: right;
	line-height: 100px;
}

.container .menu .a {
	display: inline-block;
	padding: 15px;
	line-height: normal;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease;
	border-bottom: 2px solid transparent;
	font-size: 15px;
	margin-right: 5px;
}

.container .menu a:hover {
	border-bottom: 2px solid #c7c7c7;
	padding-bottom: 5px;
}

/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu {
	display: none;
}

.container-menu {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#btn-menu:checked~.container-menu {
	opacity: 1;
	visibility: visible;
}

.cont-menu {
	width: 30%;
	max-width: 110px;
	margin-right: 20px;
	background: rgba(37, 33, 33, 0.478);
    backdrop-filter: blur(10px);
    box-shadow: -3px 2px 13px 0px #858585;
	height: 93vh;
	position: relative;
	transition: all 500ms ease;
	transform: translateX(1%);
	border-radius: 20px;
	z-index: 2000;
	position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 600px){
    .cont-menu{
        height: 80vh;
        max-width: 200px;
    }
    .caja-menu-uno{
        margin: 0px;
        width: 10px;
    }
    .caja-menu-dos{
        width: 30px;

    }
}

@media (max-width: 300px){
    .cont-menu{
        height: 100vh;
        max-width: 400px;
    }
    .caja-menu-uno{
        margin: 0px;
        width: 10px;
    }
    .caja-menu-dos{
        width: 30px;

    }
}
@media (max-width: 400px){
    .cont-menu{
        height: 100vh;
        width: 100%;
        max-width: 400px;
        display: flex;
        align-items: center;
    }
    .caja-menu-uno{
        margin: 0px;
        width: 10px;
    }
    .caja-menu-dos{
        width: 30px;

    }
    .cont-menu{
        height: 90vh;
        max-width: 200px;
    }

}


#btn-menu:checked~.container-menu .cont-menu {
	transform: translateX(0%);
}

.cont-menu .nav {
	transform: translateY(15%);
}

.cont-menu .nav .a {
	display: block;
	text-decoration: none;
	padding: 20px;
	color: #39cd10;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
}

.cont-menu .nav .a:hover {
	border-left: 5px solid #c7c7c7;
	background: #1f1f1f;
}

.cont-menu label {
	position: absolute;
	right: 5px;
	top: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
}

/*Fin de Menù lateral*/

.cosas{
	width: 100%;
	height: 10000px;
	background-color: rgb(0, 0, 0);
}

.video-apk{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 15px 0px ;
    border-radius: 5px;
}
.v-apk{
    border-radius: 10px;
    transition: 1s;
}
.v-apk:hover{
    border-radius: 20px;
    transition: 1s;
}
.pasaword{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;
}
.bt-msj-descargar{
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: green;
    color: white;
}
.bt-msj-descargar:hover {
    border-radius: 10px;
    transition: .4s ease;
}
.qr-apk{
    width: 150px;
}
.l6{
    color: rgb(255, 255, 255);
    font-size: 10px; 
    font-weight: 100;
    margin-top: 5px;
}
.l6-dos{
    color: rgb(255, 255, 255);
    font-size: 7px; 
    font-weight: 100;
    margin-top: 5px;
    text-align: center;
}
.caja-menu-uno{
    width: 100px;
    height: auto;

    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.caja-menu-tres-uno{
    width: 110px;
    height: auto;
    padding: 0px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja-menu-tres{
    width: 90px;
    height: 150px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    margin: 5px;
    border-radius: 15px;
    padding: 5px;
}
.caja-menu-dos{
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: rgba(21, 21, 25, 0);
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
}
.ico-munu{
    color: #fff;
    font-size: 22px;
    transition: 1s all;
}
.ico-munu:hover{
    font-size: 30px;
    transition: 0.4s all;
}
@media (max-width: 400px){
    .ico-munu{
        color: #fff;
        font-size: 20px;
        transition: 1s all;
    }
    .caja-menu-tres{
        height: 130px;
        margin: 4px;
    }
}

/*Virtual*/
.virtual{
    width: 100%;
    display: flex;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
align-content: center;
}
.bt-v{
    width: 150px;
    height: 35px;
    margin-top: 30px;
    color: #000;
    border: none;
    border-radius: 15px;
    background-color: rgb(253, 253, 253);
    margin-bottom: 10px;
}
.img-v{
    width: 300px;
    height: auto;
    border-radius: 10px;
}

